@charset "UTF";
:root {
    --cor-body: #f1f1f1;
    --cor-caixas: #e4e6e9;
    --cor-fundo: #5375b1;
    --cor-botao2: #5375b1c7;
    --cor-botao: #c0d1ee;
    --cor-main: #ffffff;
    --cor-graph: #d2d5d8;
    --sombra-caixas: 0px 2px 4px 0px #aca7a757;
    --sombra-forms: 1px 3px 6px #00000066;
    --cor-texto: #706f6f;
    --cor-graph2: #5f86ce;
    --cor-textoInativo: #c4bfbf;
    --cor1:#116fa0;
    --cor2:#1f4e79;
    --cor3:#5375b1;
    --cor4:#7b95c3;
    --cor5:#8297b1;
    --corConfirm: #1897d1;
    --corCheck:  #18b860;
    --corCancel:  #fa7b7b;
    --tempoTransicao: 0.5s
  }